/*
* @Author: Administrator
* @Date:   2017-09-15 17:57:32
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-15 18:14:44
*/
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}